/* ==================================================================================================================== */
/* Based on the 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://twitter.com/andytlr \ http://andytlr.com    */
/* ==================================================================================================================== */

.container { padding: 0 20px }

.row {
	width: 100%; max-width: 1140px; min-width: 707px;
	margin: 0 auto; padding: 0;
	list-style: none outside; /* Incase the row is set to a list */
}
.row > :first-child { margin-left: 0 } /* Removes the left margin from the first column. IE7 understands first-child, no need for a 'last' class */

/* GRID PADDING ------ */
/*
	Direct padding is possible with box-sizing in css3. Of course, IE7 does
	not support this, so we add in a wrapping div.padding with jquery.
*/
.row .pad,
.row .pad .padding /* IE7 */ { padding: 20px }
/* Now we need to remove padding on the actual column in IE7 to prevent breaking */
.lt-ie8 .row .pad { padding: 0 }


/* COLUMNS
------------------------ */
/*
	Covers one through eleven columns. The grid is actually twelve columns, but
	twelve would be the default block element (full 100% width, no floating, etc.)
	in the browser, so it's redundant to specify any thing for it.

	Follows a very similar naming structure to http://960.gs/, as it's a very popular
	grid system, and it seems a lot of people are more familiar with this.
*/
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11 {
	margin-left: 3.8%;
	float: left;
	min-height: 1px;
	/*
		box-sizing: border-box; allows you to specify padding and/or borders directly
		to your column elements without affecting the overall width and breaking the layout!
	*/
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
/* Specific Column Widths */
.grid1 { width: 4.85% }
.grid2 { width: 13.45% }
.grid3 { width: 22.05% }
.grid4 { width: 30.75% }
.grid5 { width: 39.45% }
.grid6 { width: 48% }
.grid7 { width: 56.75% }
.grid8 { width: 65.4% }
.grid9 { width: 74.05% }
.grid10 { width: 82.7% }
.grid11 { width: 91.35% }

/* PUSHING / PULLING and PREFIXING
------------------------------------- */
/*
	I know, it sounds like a catfight.. but let's set up "push" and "pull" features too, why not?
	Sidenote: The class .pull11 looks.. weird..
*/
.push1, .push2, .push3, .push4, .push5, .push6, .push7, .push8, .push9, .push10, .push11,
.pull1, .pull2, .pull3, .pull4, .pull5, .pull6, .pull7, .pull8, .pull9, .pull10, .pull11 { position: relative }
/* Specific Push Positions */
.push1 { left: 8.65% }
.push2 { left: 17.25% }
.push3 { left: 25.85% }
.push4 { left: 34.55% }
.push5 { left: 43.25% }
.push6 { left: 51.8% }
.push7 { left: 60.55% }
.push8 { left: 69.2% }
.push9 { left: 77.85% }
.push10 { left: 86.5% }
.push11 { left: 95.15% }
/* Specific Pull Positions */
.pull1 { left: -8.65% }
.pull2 { left: -17.25% }
.pull3 { left: -25.85% }
.pull4 { left: -34.55% }
.pull5 { left: -43.25% }
.pull6 { left: -51.8% }
.pull7 { left: -60.55% }
.pull8 { left: -69.2% }
.pull9 { left: -77.85% }
.pull10 { left: -86.5% }
.pull11 { left: -95.15% }

/*
	Set a max-width on media elements, so that they grow and
	stretch with the responsive layouts if necessary.
*/
img, object, embed, video, audio { max-width: 100% }
img { height: auto }

/* RESPONSIVE ADJUSTMENTS
------------------------ */
/*
	Smaller screens (less than 1024x768), we simply adjust the
	font-size by default.
*/
.lt-1024 body {
	font-size: .8em;
	line-height: 1.5em;
}

/*
	Mobile, grid elements become their own percentage based block level
	on resolutions lower than 768 width. Being 100% width, they should
	display fine in any and all mobile resolutions.
*/
.lt-768 body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
}
.lt-768 .row {
	width: 100%; min-width: 0;
	margin-left: 0; margin-right: 0;
	padding-left: 0; padding-right: 0;
}
.lt-768 .grid1, .lt-768 .grid2, .lt-768 .grid3,
.lt-768 .grid4, .lt-768 .grid5, .lt-768 .grid6,
.lt-768 .grid7, .lt-768  .grid8, .lt-768 .grid9,
.lt-768 .grid10, .lt-768 .grid11 {
	width: auto;
	float: none;
	margin-left: 0; margin-right: 0;
	padding-left: 20px; padding-right: 20px;
}